body{
	background-color: #222222;
}
a:link{
	text-decoration: none;
}
h2{
	color: #ffffff;
	white-space: pre-wrap;
	margin-left: auto;
	margin-right: auto;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

[ng-click]{
    cursor: pointer;
}

.opponent{
	background-color: gray;
}

.domcont{
	position: initial;
	padding: 2px;
}
.domino{
	background: #ffffff;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 5px;
	width: 80px;
}

.selected{
	cursor: default;
	height: 45px;
	width: 80px;
}